@import "tailwindcss";

.font-syne {
  font-family: var(--font-syne);
}

@plugin "daisyui" {
  themes: light,
    lofi,
    silk,
    cupcake,
    winter,
    nord,
    pastel,
    bumblebee,
    corporate,
    emerald,
    garden,
    fantasy,
    autumn,
    lemonade,
    retro,
    caramellatte,
    cyberpunk,
    valentine,
    halloween,
    forest,
    business,
    dim,
    dracula,
    dark,
    sunset,
    night,
    synthwave,
    aqua;
}

.ActiveTheme {
  border: 2px solid violet;
}

.react-pdf__Page__canvas,
.react-pdf__Page {
  border-radius: .25rem !important;
}

html {
  scroll-behavior: smooth;
}

.will-change-transform {
  will-change: transform;
}