@import "tailwindcss";

.font-syne {
  font-family: var(--font-syne);
}

@plugin "daisyui" {
  themes: all;
}

.react-pdf__Page__canvas,
.react-pdf__Page {
  border-radius: .25rem !important;
}

html {
  scroll-behavior: smooth;
}

.will-change-transform {
  will-change: transform;
}